<div>
  <label>Title</label>
  <input
    type="text"
    name="title"
    id="title"
    value="<%= book.title %>"
    autocomplete="off"
  />
</div>
<div>
  <label>Author</label>
  <select name="author">
    <% authors.forEach(author=> { %>
    <option
      label="<%= author.name %>"
      value="<%= author.id %>"
      selected="<%= author.id===book.author ? 'selected': '' %>"
    >
      <% }) %>
    </option>
  </select>
</div>
<div>
  <label>Publish Date</label>
  <input
    type="date"
    name="publishDate"
    id="publishDate"
    value="<%= book.publishDate %>"
    autocomplete="off"
  />
</div>

<div>
  <label>Page Count</label>
  <input
    type="number"
    name="pageCount"
    min="1"
    id="pageCount"
    value="<%= book.pageCount %>"
    autocomplete="off"
  />
</div>

<div>
  <label>Page Cover</label>
  <% if(book.coverImageName && book.coverImageName.path) { %> 
  <img src="<%= book.coverImageName.path %>" />
  <% } %>
  <input type="file" name="cover" />
</div>
<div>
  <label>Description</label>
  <textarea name="description" id="Description" autocomplete="off">
        <%= book.desciption %> 
    </textarea
  >
</div>
