<div class="form-row">
  <div class="form-item">
    <label>Title</label>
    <input type="text" name="title" value="<%= book.title %>" />
  </div>
  <div class="form-item">
    <label>Author</label>
    <select name="author">
      <% authors.forEach(author => { %>
      <option
        label="<%= author.name %>"
        value="<%= author.id %>"
        selected="<%= author.id===book.author ? 'selected': '' %>"
      >
        <% }) %>
      </option>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Publish Date</label>
    <input
      type="date"
      name="publishDate"
      value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>"
    />
  </div>
  <div class="form-item">
    <label>Page Count</label>
    <input
      type="number"
      name="pageCount"
      min="1"
      value="<%= book.pageCount %>"
    />
  </div>
</div>



<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Cover</label>
    <% if(book.coverImageName && book.coverImageName.path){ %>
    <img src="<%= book.coverImageName.path %>" style="height: 150px" />
    <% } %>
    <input type="file" name="cover" class="book-cover" />
    <!-- <% if(book.coverImageName && book.coverImageName.path){ %>
    <input
      type="hidden"
      name="old_cover"
      value="<%= book.coverImageName.path %>"
      class="book-cover"
    />
    <% } %> -->
  </div>
  <div class="form-item">
    <label>Description</label>
    <textarea name="description"><%= book.description %></textarea>
  </div>
</div>
