<h2 class="page-header">Search Books</h2>

<form action="/books" method="GET" autocomplete="off">
    <div class="form-row">
        <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title%>">
    </div>
    </div>

    <div class="form-row">
    <div class="form-item">

        <label>Publish After</label>
        <input type="date" name="publishAfter" value="<%= searchOptions.publishAfter%>">
    </div>
    <div class="form-item">

        <label>Publish Before</label>
        <input type="date" name="publishBefore" value="<%= searchOptions.publishBefore%>">
    </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
</form>
<br>
<div>
    
    <% books.forEach(book => { %>
        <div>
            <a href="/books/<%= book.id %>">
         <img src=" <%= book.coverImageName.path %> " alt="" height="350" width="500">
        </a>
         <h2><%= book.title %> </h2>
        </div>
        <% }) %>
    </div>