<h2>Search Books</h2>

<form action="/books" method="GET" autocomplete="off">
    <div>

        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title%>">
    </div>
    <div>

        <label>Publish After</label>
        <input type="date" name="publishAfter" value="<%= searchOptions.publishAfter%>">
    </div>
    <div>

        <label>Publish Before</label>
        <input type="date" name="publishBefore" value="<%= searchOptions.publishBefore%>">
    </div>
        <button type="submit">Search</button>
</form><br>
<div>
    
    <% books.forEach(book => { %>
        <div>
            <a href="/books/<%= book.id %>">
         <img src="/<%= book.coverImageName.path %> " alt="" height="150" width="100">
        </a>
         <h2><%= book.title %> </h2>
        </div>
        <% }) %>
    </div>