<h2>
    <%= book.title %>
</h2>
<img src="<%= book.coverImageName.path %> " alt="">

<div>
    Publish Date : <%= book.publishDate%>
</div>
<div>Page Count : <%= book.pageCount %>
</div>
<div>
    Description : <%= book.description %>
</div>

<a href="/books/<%= book.id %>/edit">edit</a>
<%- include('../partials/delete',
{ url :`/books/${book.id}`})  %> 
 
